.bodyform{
    padding: 0 0 0 135px;
}
.body{
    padding: 50px 0 0 135px;
}
.containerloginc{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
  }