.bodyF{
    margin-top: 20px;
    padding: 60px 0 0 175px;
    width: 100%;
    height:40%;
    /* background-image: linear-gradient(to right, #9796f0, #fbc7d4); */
    background-color: black;
    color: gray;
    position: static;
}
.footerlink{
    text-decoration: none;
    color: gray;
}
.footerlink:hover{
    color: white;
}